<div class="basic-grey">
  
  <h1>Notebook <%= l Date.today %></h1>
  
<!--   <h1> <%= params[:controller] %> </h1> -->
  
<!--   <%= show_name %> -->
  <ul>
    <li> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> - <%= link_to "Tipo de Contato", kinds_path %> </li>
    <li> <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> - <%= link_to "Contato" , contacts_path %> </li> 
  </ul>

  <p> <%= render partial: "contacts/footer" %></p>
   
</div>





